* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: black;
}

body {
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

img {
    width: 30vh;
    display: block;
    margin: auto; /* Centraliza horizontalmente */
}

.content {
    height: 105vh;
    width: 100vw;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    background-attachment: fixed; /* Mantenha a imagem de fundo estática */
}

@media screen and (min-width: 300px) and (max-width: 991px) {
    * {
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        color: white;
    }

    body {
        background-image: url('/img/background.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 0;
    }

    .content {
        max-width: 100%;
        border-radius: 1rem;
        margin: 1rem auto;
        background-image: url('/img/background.png');
        height: auto; /* Alterado para 'auto' para ajustar automaticamente à altura do conteúdo */
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
